name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew clean build jar
    - name: Action Release
      if: contains(github.ref, 'release')
      uses: yakuhzi/action-release@v1.2.0
      with:
        # File to upload to the release
        file: './build/libs'
        # Path to changelog file
        changelogs: ./changelogs.txt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
